<!DOCTYPE html>
<html lang="en"><!--<![endif]--><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    {include file="public:seo_header" /}

    {include file="public:link_resource_read" /}
    <!--延迟加载图片用-->
    <script src="/assets/js/common/jquery.unveil.js" type="text/javascript"></script>
    <script src="/assets/js/common/jquery.plugins.js" type="text/javascript"></script>
    <!--[if lt IE 9]>
    <script src="/assets/js/common/html5shiv.js"></script>
    <script src="/assets/js/common/respond.min.js"></script>
    <![endif]-->

    </head>
<body class="read-background">
<script>
    // ===== Scroll to Top ====
    $(window).scroll(function() {
        if ($(this).scrollTop() >= 500) {        // If page is scrolled more than 50px
            $('#page_code').fadeIn(200);    // Fade in the arrow
        } else {
            $('#page_code').fadeOut(200);   // Else fade out the arrow
        }
    });
</script>
<script type="text/javascript">
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id))
            return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
{include file="public/header" /}
<!--/ Website Menu -->
<div class="container-fluid">
    <div class="pager-cnt">
        <div class="row">
            <div class="col-xs-12">
                <p>
                    <a href="/">
                        Home
                    </a> &gt;&gt;	<a href="/detail/{$comic_info.search_name}.html">{$comic_info.name}</a> &gt;&gt;  {$chapter_info.name}
                </p>
            </div>

            <div class="col-xs-12">

                <!-- Binbin-->
                <div class="read-background col-sm-12" >
                    <div class="col-sm-4">
                        <select class="selectpicker fl col-sm-push-1" data-width="100%" style="outline:none;" onchange="window.open('/read/{$comic_info.search_name}/'+this.value+'.html','_self');" >
                            {volist name="chapter_list" id="data" }
                                <option value="{$data.id}" {if condition="$data.id==$chapter_info.id"}selected="selected"{/if} >chapter: {$data.name}</option>
                            {/volist}
                        </select>
                    </div>
                    {if condition="!empty($next_chapter_link)"}
                    <div class="col-sm-4 pull-right">
                        <a href="{$next_chapter_link}">
                            <button type="button" class="btn btn-primary fr ">next→ chapter</button>
                        </a>
                    </div>
                    {/if}
                    {if condition="!empty($last_chapter_link)"}
                    <div class="col-sm-4 pull-right">
                        <a href="{$last_chapter_link}">
                        <button type="button" class="btn btn-primary fr col-sm-pull-1">←prev chapter</button>
                        </a>
                    </div>
                    {/if}

            </div>
        </div>
    </div>


    <div class="viewer-cnt">
        <div class="row">
            <div class="col-sm-2 hidden-xs" style="position: relative">
                <div style="left: 0; right: 0; margin: 0 auto; position: absolute; display: table;">

                    <br>

                </div>
            </div>
            <div class="col-xs-12 col-sm-8">
                <div id="all" class="row" style="">
                    <div id="page_code" class="read-background col-sm-6" style="display:none;position:fixed;top:0px;left:25%;" >
                        <div class="col-sm-4">
                            <select class="selectpicker fl col-sm-push-1" data-width="100%" style="outline:none;" onchange="window.open('/read/{$comic_info.search_name}/'+this.value+'.html','_self');">
                                {volist name="chapter_list" id="data" }
                                <option value="{$data.id}" {if condition="$data.id==$chapter_info.id"}selected="selected"{/if}>chapter: {$data.name}</option>
                                {/volist}
                            </select>
                        </div>
                        {if condition="!empty($next_chapter_link)"}
                        <div class="col-sm-4 pull-right">
                            <a href="{$next_chapter_link}">
                                <button type="button" class="btn btn-primary fr ">next→ chapter</button>
                            </a>
                        </div>
                        {/if}
                        {if condition="!empty($last_chapter_link)"}
                        <div class="col-sm-4 pull-right">
                            <a href="{$last_chapter_link}">
                                <button type="button" class="btn btn-primary fr col-sm-pull-1">←prev chapter</button>
                            </a>
                        </div>
                        {/if}

                    </div>
                    {volist name="image_list" id="vo" key="k"}
                    <img class="img-responsive" style="padding-bottom: 1px;padding-top : 0;" src="/assets/img/frontend/common/loading.gif" data-src="{$image_prefix}{$vo.image} " alt="{$comic_info.name} Manga Episode {$chapter_info.name} {$k}">
                    {/volist}

                </div>
            </div>
            <div class="col-sm-2 hidden-xs" style="position: relative">
                <div style="left: 0; right: 0; margin: 0 auto; position: absolute; display: table;">

                    <br>

                </div>
            </div>
        </div>
    </div>

    <div class="ads">
        <div class="row">
            <div class="col-xs-12">
                <div class="ads-large text-center" style="max-width: 890px; display: table; margin: 20px auto 10px;">

                </div>
                <div style="display: table; margin: 0px auto 0px;">
                    <div class="pull-left ads-sqre1" style="margin-right: 0px;">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="pager-cnt">

        <div class="row">
            <div class="col-xs-12">
                <!-- Binbin-->
                <div class="row">
                    <div class="col-xs-12">
                        <p>
                            <a href="/index">
                                Home
                            </a> &gt;&gt;	<a href="/detail/{$comic_info.search_name}.html">{$comic_info.name}</a> &gt;&gt;  chapter:{$chapter_info.name}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- comment -->
    <div class="row" style="max-width: 890px; margin:15px auto;">
        <div class="col-xs-12">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#fb" aria-controls="fb" role="tab" data-toggle="tab">Facebook</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content" >
                <div role="tabpanel" class="tab-pane active" id="fb">
                    {include file="public:facebook_comments" /}
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">

        var initialized = false;
        <!-- 实现图片懒加载-->
        jQuery(document).ready(function () {
            $('body,html').animate({
                scrollTop : 0                       // Scroll to top of body
            }, 200);
            $('.selectpicker').selectpicker();
            if ($("div#all").is(":visible")){
                $("div#all img").unveil(300);
            }
        });

        // refresh test
        /*
        $('a#modePPP').click(function (e) {
            e.preventDefault();
            $('.pager-cnt .page-nav').show();
            $('div#ppp').show();
            $('div#all').hide();
            $(document).on('keyup', function (e) {
                KeyCheck(e);
            });
        });

        $('a#modeALL').click(function (e) {
            e.preventDefault();
            $('.pager-cnt .page-nav').hide();
            $('div#ppp').hide();
            $('div#all').show();
            $(document).off('keyup');
            $("div#all img").unveil(300);
        });
        */
        $('select#page-list').on('change', function () {
            changePage(this.value);
        });

        // $(document).on('keyup', function (e) {
        //     KeyCheck(e);
        // });
        //
        // function KeyCheck(e) {
        //     var ev = e || window.event;
        //     ev.preventDefault();
        //     var KeyID = ev.keyCode;
        //     switch (KeyID) {
        //         case 36:
        //             //window.location = "https://komikmanga.com/manga/tate-no-yuusha-no-nariagari";
        //             break;
        //         //case 33:
        //         case 37:
        //             //prevPage();
        //             prevChap();
        //             break;
        //         //case 34:
        //         case 39:
        //             //nextPage();
        //             nextChap();
        //             break;
        //     }
        // }

    </script>
</div>


{include file="public:return_to_top"}
